<!DOCTYPE html>
<html ng-app="TodoApp">
  <head>
    <meta charset="utf-8">
    <title>ToDo APP</title>
    <script src="javascript/js/angular.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js" charset="utf-8"></script>
  </head>
  <body ng-controller="TodoCtrl">

    <!-- task create form  -->
    <button type="button" name="button" ng-click="createTodo()">Create ToDo</button>

    <form name="taskForm">
      Task Name:
      <input type="text" name="taskName" value="" ng-model="taskParams.text">
      <br>
      Date:
      <input type="date" name="taskDate" value="" ng-model="taskParams.date">
    </form>

    <hr>


    <!-- tasks index  -->
    <table>
      <thead>

      </thead>
      <tbody>
        <tr todo-item ng-repeat="item in items | hideFilter: hide" item="item" delete-task="deleteTask(item)"></tr>

        <button type="button" name="button" ng-click="clearComplete()">clearComplete</button>
        <button type="button" name="button" ng-click="toggleHide()">{{ HideText() }}</button>
      </tbody>
    </table>



  </body>
  <!-- app -->
  <script src="javascript/app.js" charset="utf-8"></script>

  <!-- controller -->
  <script src="javascript/controller/TodoCtrl.js" charset="utf-8"></script>

  <!-- filter -->
  <script src="javascript/filter/todoFilter.js" charset="utf-8"></script>

  <!-- directive -->
  <script src="javascript/directive/todoItem.js" charset="utf-8"></script>

  <!-- service -->
  <script src="javascript/service/todoService.js" charset="utf-8"></script>
</html>
